language: node_js
# Establecemos para que versiones de node se testeará
node_js:
  - "12"
  - "14"
# Indicamos los sistemas donde se realizarán los test
os:
  - linux
# Instalamos Gulp-cli de forma global en la imagen 
before_install:
  - npm install -g gulp-cli
  -  npm install gulp-shell
  -  npm install gulp-mocha
  -  npm install gulp   
# Lanzamos los test
script: gulp 
# Configuramos las noticaciones.
# Denegamos es envío de email
notifications:
  email:
    recipients:
      - alexrodriguezlop@gmail.com
    on_success: never 
    on_failure: never