version: 2.1
orbs:
  node: circleci/node@3.0.0
workflows:
  node-tests:
    jobs:
      #- node/test
      docker:
        - image: alexrodriguezlop/hdn.pg
      steps:
          - docker run -t -v 'pwd':/test alexrodriguezlop/hdn.pg